body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:#ffffff;
    margin: 0;
  }

  header{
    background-color: #41B4BB;
  }

  
  .galerie {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  
  .im-container {
    position: relative;
    margin: 0 auto 20px auto;
    max-width: 100%;
    border: #292a29;
    border-radius: 1rem;
  }
  
  .im-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .im-container:hover img {
    transform: scale(1.03);
  }
  
  .bouton-decouvrir {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #292a2d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .bouton-decouvrir:hover {
    background-color:  rgb(182, 162, 153);
  }
  
  .bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .recherche {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .recherche li a {
    text-decoration: none;
    color: #292a2d;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .recherche li a i {
    margin-right: 5px;
  }

  .menu{
    list-style-type: none;
  }

  .navbar {
    background-color: #B6A299;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li a {
    text-decoration: none;
    color: #292a2d;
    font-size: 18px;
    padding: 8px;
    display: flex;
    align-items: center;
  }


  footer{
    background-color: #41B4BB;
    text-align: center;
    display: flex;
    justify-content: center
  }
  